@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To CRUD Movies</h1>
    <p>Go To <a asp-controller="Movies" asp-action="Index">Movies</a> CRUD.</p>
</div>
